<h1>Quizzes</h1>

<%= link_to "New Quiz", new_quiz_url %>

<br><br>

<ul>
	<% @quizzes.each do |quiz| %>
		<li>
			<a href="<%= quiz_url(quiz) %>">
			<%= quiz.title %>
			</a>
			<ul>
				<li>Time limit: <%= quiz.time_limit %></li>
				<li>Description: <%= quiz.description || "NONE" %></li>
				<li>Category: <%= quiz.category %></li>
				<li>Scope: <%= quiz.scope%></li>
			</ul>
		</li>
	<% end %>
</ul>