<h1>Quizzes</h1>

<ul>
	<% @quizzes.each do |quiz| %>
		<li>
			<a href="<%= quiz_url(quiz) %>">
			<%= quiz.title %>
			</a>
			<ul>
				<li><%= quiz.description %></li>
				<li><%= quiz.category %></li>
				<li><%= quiz.scope%></li>
			</ul>
		</li>
	<% end %>
</ul>