<h1>New quiz</h1>

<form action="<%= quizzes_url %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<label for="quiz-title">Title</label>
	<br>
	<input type="text" id="quiz-title" name="quiz[title]">
	
	<br><br>
	
	<label for="quiz-description">Description</label>
	<br>
	<textarea id="quiz-description" name="quiz[description]"></textarea>
	
	<br><br>
	
	<label for="quiz-categories">Categories</label>
	<select id="quiz-categories" name="quiz[category]">
		<option></option>
		<% @categories.each do |category| %>
			<option value="<%= category %>"><%= category.capitalize %></option>
		<% end %>
	</select>

	&nbsp;&nbsp;
	
	<label for="quiz-scope">Scope</label>
	<select id="quiz-scope" name="quiz[scope]">
		<option></option>
		<% @scopes.each do |scope| %>
			<option value="<%= scope %>"><%= scope.capitalize %></option>
		<% end %>
	</select>

	<br><br>

	<label for="quiz-time-limit">Time Limit</label>
	<select id="quiz-time-limit" name="quiz[time_limit]">
		<option value="1">1:00</option>
		<option value="5">5:00</option>
		<option value="10">10:00</option>
	</select>

	<hr>
	
	<div class="prompt-fields">
		<h3>Prompt</h3>
		
		<label>
			Question (3-100 characters)
			<br>
			<input type="text" class="prompt-question" name="quiz_prompts[][question]">
		</label>

		<br>

		<label>
			Answer (max 30 characters)
			<br>
			<input type="text" class="prompt-answer" name="quiz_prompts[][correct_answer]">
		</label>

		<h4>Valid Answers</h4>
		Max: 30 characters
		<br><br>
		<div class="opt-field-blank">Add valid answer...</div>
		<div class="opt-field-blank">Add valid answer...</div>
		<div class="opt-field-blank">Add valid answer...</div>
		<div class="opt-field-blank">Add valid answer...</div>
		<div class="opt-field-blank">Add valid answer...</div>
		<br><br>
		Qwip: You can press ENTER, TAB, or click elsewhere to set answer
		<br>
		TODO: add tab-switching, check for uniqueness
		<br>
		------
		
	</div>
	<br>
	<button class="new-prompt-field">Add Prompt</button>

	<hr>
	<br>
	<input type="hidden" id="quiz-length" name="quiz[length]" value="0">

	Quiz Length: <p id="length-counter">1</p>

	<input type="submit" value="Create Quiz">

</form>

<br><br>

<%= link_to "Quiz Index", quizzes_url %>

<br><br>


<!-- TODO: Add client-side validation -->

<!-- TEMPORARY LOCATION -->
<script type="text/javascript">

var resetPromptDiv = function ($div) {
	$div.find("div").each(function (idx, el) {
		var $blankDiv = $("<div>");
		$blankDiv.addClass("opt-field-blank");
		$blankDiv.text("Add valid answer...");

		$(el).replaceWith($blankDiv);
		readOnlyToFieldListen($blankDiv);
	});

	$div.find("input").each(function (idx, el) {
		var $el = $(el);
		var isTarget = ($el.attr("class") === "opt-field-active" || $el.attr("class") === "opt-field-filled");
		if (isTarget) {
			$blankDiv = $("<div>");
			$blankDiv.addClass("opt-field-blank");
			$blankDiv.text("Add valid answer...");
			
			$(el).replaceWith($blankDiv);
			readOnlyToFieldListen($blankDiv);
		}
	});
};

var addToQuizLength= function (addend) {
	var oldCount = parseInt($("#quiz-length").val());
	$("#quiz-length").val(oldCount + addend);
	$("#length-counter").text($("#quiz-length").val());
};

var dupPromptDiv = function ($dupButton) {
	$dupButton.on("click", function (event) {
		event.preventDefault();

		var $lastDiv = $(".prompt-fields").last();
		var pQuestionText = $.trim($lastDiv.find(".prompt-question").val());
		var pAnswerText = $.trim($lastDiv.find(".prompt-answer").val());

		if (!(pAnswerText.length <= 30 && pQuestionText.length >= 3 && pQuestionText.length <= 100)) {
			$lastDiv.after("Invalid question or answer ")
			return;
		}

		var $newDiv = $lastDiv.clone();
		$newDiv.find("input").val("");
		$newDiv.css("display", "none");
		
		//set all inner divs, no-class text fields to .opt-field-blank
		resetPromptDiv($newDiv);
		$lastDiv.after($newDiv);
		$newDiv.slideToggle("fast", function () {
			$("body").scrollTo({top:'+=350px', left: '0'}, 400);
		});

		addToQuizLength(1);
	});			
};

var readOnlyToFieldListen = function ($div) {
	$div.on("click", function (event) {
		var $origEl = $(event.target);
		var $fieldInput = $("<input>");
		
		$fieldInput.attr({
			type: "text",
			class: "opt-field-active",
			name: "quiz_prompts[][valid_answers][][valid_answer]"
		});

		//Assume if .val() returns empty string, it is DIV
		if ($origEl.val() === "") {
			var text = $origEl.text();
			text = (text === "Add valid answer..." ? "" : text);
			$fieldInput.val(text);
		}
		else {
			$fieldInput.val($origEl.val());
		}

		$origEl.replaceWith($fieldInput);
		$fieldInput.focus();
		fieldToReadOnly($fieldInput);		
	});
};

var fieldToReadOnly = function ($field) {
	$field.on("blur keypress", function (event) {
		//ENTER or TAB
		var validTrigger = (event.type === "blur" || (event.which === 13 || event.which === 9)); 

		if (validTrigger) {
			var field = event.target;
			var valText = $(field).val();
			//trim whitespace
			valText = $.trim(valText);
			var valEmpty = (valText === "");
			var $readOnlyText;

			if (valEmpty) {
				$readOnlyText = $("<div>");
				$readOnlyText.addClass("opt-field-blank");
				$readOnlyText.text("Add valid answer...");
			}
			else {
				$readOnlyText = $("<input>");
				$readOnlyText.attr({
					class: "opt-field-filled",
					name: "quiz_prompts[][valid_answers][][valid_answer]",
					readonly: true,
					value: valText
				});
			}

			$(field).replaceWith($readOnlyText);
			readOnlyToFieldListen($readOnlyText);
		}
	});
}; 


$(document).ready(function () {
	dupPromptDiv($(".new-prompt-field"));

	$(".opt-field-blank").each(function (idx, el) {
		readOnlyToFieldListen($(el));
	});

});


</script>