<h1>New quiz</h1>

<form action="<%= quizzes_url %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<label for="quiz-title">Title</label>
	<br>
	<input type="text" id="quiz-title" name="quiz[title]">
	
	<br><br>
	
	<label for="quiz-description">Description</label>
	<br>
	<textarea id="quiz-description" name="quiz[description]"></textarea>
	
	<br><br>
	
	<label for="quiz-categories">Categories</label>
	<select id="quiz-categories" name="quiz[category]">
		<option></option>
		<% @categories.each do |category| %>
			<option value="<%= category %>"><%= category.capitalize %></option>
		<% end %>
	</select>

	&nbsp;&nbsp;
	
	<label for="quiz-scope">Scope</label>
	<select id="quiz-scope" name="quiz[scope]">
		<option></option>
		<% @scopes.each do |scope| %>
			<option value="<%= scope %>"><%= scope.capitalize %></option>
		<% end %>
	</select>

	<br><br>

	<label for="quiz-length">TEMPORARY: Length</label>
	<br>
	<input type="text" id="quiz-length" name="quiz[length]">

	<br><br>

	<label for="quiz-time-limit">Time Limit</label>
	<select id="quiz-time-limit" name="quiz[time_limit]">
		<option value="1">1:00</option>
		<option value="5">5:00</option>
		<option value="10">10:00</option>
	</select>

	<hr>
	
	<div class="prompt-fields">
		<h3>Prompt</h3>
		
		<label>
			Question (3-100 characters)
			<br>
			<input type="text" name="quiz_prompts[][question]">
		</label>

		<br>

		<label>
			Answer (max 30 characters)
			<br>
			<input type="text" name="quiz_prompts[][correct_answer]">
		</label>

		<h4>Valid Answers</h4>
		Max: 30 characters
		<br>
		<input type="text" name="valid_answers[][valid_answer]" placeholder="Blank will not be saved">
		<input type="text" name="valid_answers[][valid_answer]" placeholder="Blank will not be saved">
		<input type="text" name="valid_answers[][valid_answer]" placeholder="Blank will not be saved">
		<input type="text" name="valid_answers[][valid_answer]" placeholder="Blank will not be saved">
		<input type="text" name="valid_answers[][valid_answer]" placeholder="Blank will not be saved">
		<br>
		<button class="save-prompt-field">Save Prompt</button>
		<br>
		------
	</div>
	<br>
	<button class="new-prompt-field">Add Prompt</button>

	<hr>

	<input type="submit" value="Create Quiz">

</form>

<br><br>

<%= link_to "Quiz Index", quizzes_url %>




<!-- TEMPORARY LOCATION -->
<script type="text/javascript">

var dupPromptDiv = function ($dupButton) {
	$dupButton.on("click", function (event) {
		event.preventDefault();

		var $lastDiv = $(".prompt-fields").last();
		var $newDiv = $lastDiv.clone();

		$newDiv.find("input").val("");
		$newDiv.css("display", "none");
		$lastDiv.after($newDiv);
		$newDiv.slideToggle("fast", function () {
			$("body").scrollTo({top:'+=250px', left: '0'}, 400);
		});
	});			
};

var toggleReadOnly = function ($toggleEl) {
	$toggleEl.on("click", function (event) {
		event.preventDefault();

		var $parentDiv = $(event.target).parent();
		var $inputFields = $parentDiv.find("input");
		//assume all are toggled the same way
		var newSetting = ($inputFields.first().attr("readonly") === undefined ? true : false)
		
		$inputFields.attr("readonly", newSetting);
	});
};


$(document).ready(function () {
	dupPromptDiv($(".new-prompt-field"));

	//should only affect first field div, unfortunately
	toggleReadOnly($(".save-prompt-field"));
});


</script>