<h1>Playing...</h1>
<h2><%= @quiz.title %></h2>

<%= link_to "Quiz Index", quizzes_url %>
<h2><%= @prompts.first.question %></h2>

<label for="player-input">Enter text:</label>
<br>
<input type="text" id="player-input">

<br><br>

# Correct answers:
<div id="correct-count">0</div>

<br><br>

<div id="answers-container"></div>

<br><br>

TEMPORARY:
<ul>
<% @prompts.each do |prompt| %>
	<li>
		<%= prompt.question %> ANSWERS:
		<ul>
			<li><%= prompt.possible_answers %></li>
		</ul>
	</li>
<% end %>
</ul>

<br><br>

<!-- TEMPORARY LOCATION -->
<script type="application/json" id="bootstrapped_answers_json">
	<%= @ans_data.html_safe %>
</script>

<script type="text/javascript">
	var genAnswerDivs = function ($container) {
		var $answerDiv = $("<div>");
		var $hidAnsText = $("<div>");
		$answerDiv.addClass("answer-div");
		$hidAnsText.hide();

		var questions = _.keys(quesToAns);
		_.each(questions, function (question) {
			var correctAns = _.first(quesToAns[question]);
			var $newAnswerDiv = $answerDiv.clone();
			var $newHidAnsText = $hidAnsText.clone();

			$newHidAnsText.text(correctAns);
			$newAnswerDiv.append($newHidAnsText);
			$container.append($newAnswerDiv);

			ansDivs[correctAns] = $newAnswerDiv;
		});
	};

	var isAnswer = function (trimmedInput) {
		return _.contains(posAnswers, trimmedInput);
	};

	var revealAns = function (correctAns) {
		var $ansDiv = ansDivs[correctAns];
		var $ansTextDiv = $($ansDiv.find("div"));
		//animate reveal later
		$ansDiv.css("background-color", "yellow");
		$ansTextDiv.show();
	};

	$(document).ready(function () {
		ansData = JSON.parse($("#bootstrapped_answers_json").html());
		quesToAns = ansData.ques_to_ans;
		ansToQues = ansData.ans_to_ques;

		posAnswers = _.keys(ansToQues);
		ansDivs = {};

		genAnswerDivs($("#answers-container"));

		$("#player-input").on("keyup keydown", function (event) {
			var $inputField = $(event.target);
			var input = $inputField.val();
			input = $.trim(input);

			if (isAnswer(input)) {
				var guessQuestion = ansToQues[input];
				var validAnswers = quesToAns[guessQuestion];
				var correctAns = _.first(validAnswers);

				$inputField.val("");
				var newCount = 1 + parseInt($("#correct-count").text());
				$("#correct-count").text(newCount);

				revealAns(correctAns);
				posAnswers = _.difference(posAnswers, validAnswers);
			}
		});
	});

</script>