<div id="root-main-div" class="container">
  <div class="row">
    <div class="col-xs-5">
      <div class="page-header">
        <h2>
          Edit <%= resource_name.to_s.humanize %> Profile
        </h2>
      </div>

      <%= devise_error_messages! %>

      <div class="form-group">
        <form action="<%= edit_user_registration_url %>" method="POST">
          <input name="utf8" type="hidden" value="✓">
          <input type="hidden" name="_method" value="PUT">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

          <label for="user-username">
            <span class="h4">
              Username
              <small>3 - 15 characters</small>
            </span>
          </label>
          <input autofocus="autofocus" id="user-username" name="user[username]" type="text" value="<%= current_user.username %>" class="form-control">

          <br>

          <label for="user-email">
            <span class="h4">
              Email
            </span>
          </label>
        <input id="user-email" name="user[email]" type="email" value="<%= current_user.email %>" class="form-control">

        <br>

        <label for="user-password">
          <span class="h4">
            Password
            <small>Leave blank if you don't want to change it</small>
          </span>
        </label>
        <input autocomplete="off" id="user-password" name="user[password]" type="password" class="form-control">

        <br>

        <label for="user-password-confirmation">
          <span class="h4">
            Password confirmation
          </span>
        </label>
        <input id="user-password-confirmation" name="user[password_confirmation]" type="password" class="form-control">

        <br>

        <label for="user-current-password">
          <span class="h4">
            Current password
            <small>Necessary to confirm your changes</small>
          </span>
        </label>
        <input id="user-current-password" name="user[current_password]" type="password" class="form-control">

        <br>

        <div>
          <input name="commit" type="submit" value="Update profile" class="btn btn-primary">
        </div>


        </form>
        

        <h3>Cancel my account</h3>

        <p class="text-danger">WARNING: all quiz data will be lost 
          <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-danger" %>
        </p>

        <br>
        <%= link_to "Back", :back, :class => "btn btn-default" %>



      </div>

    </div>
  </div>
</div>


<!-- 
      <%#= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

        <div><%#= f.label :username %><br />
        <%#= f.text_field :username, :autofocus => true %></div>

        <div><%#= f.label :email %><br />
        <%#= f.email_field :email %></div>

        <%# if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%#= resource.unconfirmed_email %></div>
        <%# end %>

        <div><%#= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%#= f.password_field :password, :autocomplete => "off" %></div>

        <div><%#= f.label :password_confirmation %><br />
        <%#= f.password_field :password_confirmation %></div>

        <div><%#= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%#= f.password_field :current_password %></div>

        <div><%#= f.submit "Update" %></div>
      <%# end %>

 -->