<!-- <ul class="media-list"> -->
<hr>
	<li class="media">
		<a class="pull-left">
			<% if (_.isNull(comment.get('author').avatar_small) || _.isUndefined(comment.get('author').avatar_small)) { %>
				<img src="https://s3-us-west-1.amazonaws.com/qwisme-development/blank_avatar_resized.png" class="img-rounded" style="max-height: 65px; max-width: 65px;">
			<% } else { %>
				<img src="<%= comment.get('author').avatar_small %>" class="img-rounded" style="max-height: 65px; max-width: 65px;">
			<% } %>
		</a>

		<div class="media-body">
			<h4 class="media-heading">
				<a href="#/users/<%= comment.escape('author_id') %>">
					<%= _.escape(comment.get("author").username) || "[DELETED USER]" %>
				</a>
				<small>posted on <%= comment.escape("created_at") %></small>
			</h4>
			<p>
				<%= comment.escape("body") %>
			</p>
			<button type="button" id="expand-reply-<%= comment.id %>" class="btn btn-default btm-sm pull-right">Reply</button>
			<br>
			<div id="reply-box-<%= comment.id %>" class="form-group" style="display: none;">
				<span class="h5">
					<small>Max. 200 characters</small>
				</span>
				<form data-parent-id="<%= comment.id %>">
					<textarea class="form-control" rows="3" name="comment[body]"></textarea>
					<br>
					<input type="submit" class="btn btn-primary btn-sm" value="Add reply">
				</form>
			</div>

			<ul id="reply-list-<%= comment.id %>" class="media-list">
			</ul>

		</div>

	</li>
<!-- </ul> -->