<!-- <ul class="media-list"> -->
<hr>
	<li class="media">
		<a class="pull-left">
			<img src="http://s3-us-west-1.amazonaws.com/qwis-me-development/users/avatars/000/000/001/small/mrt.jpg?1384226707" class="img-rounded">
		</a>

		<div class="media-body">
			<h4 class="media-heading">
				<a href="#/users/<%= comment.escape('author_id') %>">
					user ID# <%= comment.escape("author_id") %>
				</a>
				<small>posted on DATE</small>
			</h4>
			<p>
				<%= comment.escape("body") %>
			</p>
			<button type="button" id="expand-reply-<%= comment.id %>" class="btn btn-default btm-sm pull-right">Reply</button>
			<br>
			<div id="reply-box-<%= comment.id %>" class="form-group" style="display: none;">
				<span class="h5">
					<small>Max. 200 characters</small>
				</span>
				<form data-parent-id="<%= comment.id %>">
					<textarea class="form-control" rows="3" name="comment[body]"></textarea>
					<br>
					<input type="submit" class="btn btn-primary btn-sm" value="Add reply">
				</form>
			</div>

			<ul id="reply-list-<%= comment.id %>" class="media-list">
			</ul>

		</div>

	</li>
<!-- </ul> -->