<div id="root-main-div" class="container">
  <div class="row">

    <div id="ss-jumbotron" class="col-xs-12">

      <div id="ss-shader">

      </div>

      <div id="jumbotron-content">
      <h1 style="font-size: 5em">Qwis.me</h1>

      <p style="font-size: 1.6em">
        A <i>Sporcle</i> clone to test you <i>Qwisdom</i>.
      </p>

        <form action="<%= guest_url %>" method="GET">
          <input type="submit" value="Log in as Guest" class="btn btn-lg btn-success" style="border: 2px solid green;">
        </form>
    <div id="jumbotron-caption" class="h3">
      Create quizzes<br><small>Dynamic quiz form with live preview</small>
    </div>
      </div>

    </div>

  </div>


  <div class="row">

      <div class="col-xs-6">
        <div class="page-header">
          <h1>
            Log in
          </h1>
        </div>

        <%= devise_error_messages! %>

        <div class="form-group">
          <form role="form"action="<%= user_session_url %>" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

            <label for="user-username">
              <span class="h4">
                Username
              </span>
            </label>
            <input type="text" class="form-control" autofocus="autofocus" id="user-username" name="user[username]">

            <br>

            <label for="user-password">
              <span class="h4">
                Password
              </span>
            </label>
            <input type="password" id="user-password" name="user[password]" class="form-control">

            <br>

            <div>
              <input type="hidden" name="user[remember_me]" value="0">
              <input type="checkbox" id="user-remember-me" name="user[remember_me]" value="1">
              <label for="user-remember-me">Remember me</label>
            </div>

            <br>
            
            <input type="submit" name="commit" value="Log in" class="btn btn-primary">
            <a href="<%= new_user_password_url %>" class="btn btn-default">Forgot you password?</a>
          </form>
        </div>
        
    </div>


    <div class="col-xs-6">
      <div class="page-header">
        <h1>Sign up</h1>
      </div>

      <%= devise_error_messages! %>

      <div class="form-group">
        <form action="<%= user_registration_url %>" method="POST" enctype="multipart/form-data">
          <label for="user-username">
            <span class="h4">
              Username
              <small>3 - 15 characters</small>
            </span>
          </label>
          <input id="user-username" name="user[username]" type="text" class="form-control">

          <br>

          <label for="avatar-field">
            <span class="h4">
              Upload your avatar
              <small>Optional</small>
            </span>
          </label>
          <input type="file" id="avatar-field" name="user[avatar]">

          <br>

          <label for="user-description">
            <span class="h4">
              Bio
              <small>Optional, max. 150 characters</small>
            </span>
          </label>
          <textarea name="user[description]" class="form-control" rows="3"></textarea>

          <br>

          <label for="user-email">
            <span class="h4">
              Email
            </span>
          </label>
          <input id="user-email" name="user[email]" type="email" value="" class="form-control">

          <br>

          <label for="user-password">
            <span class="h4">
              Password
              <small>Min. 6 characters</small>
            </span>
          </label>
          <input id="user-password" name="user[password]" type="password" class="form-control">

          <br>

          <label for="user-password-confirmation">
            <span class="h4">
              Password confirmation
            </span>
          </label>
          <input id="user-password-confirmation" name="user[password_confirmation]" type="password" class="form-control">

          <br>

          <div>
            <input name="commit" type="submit" value="Sign up" class="btn btn-primary">
          </div>

      </form>

      </div>


    </div>

  </div>
