<div class="row">

	<div class="col-xs-5">
		<h2 class="text-left">
			<small>Question:</small>
			<br>
			<%= quiz.escape("question") %>
		</h2>
	</div>

	<div class="col-xs-4">
		<br>
		<button type="button" id="start-game" class="btn btn-success btn-large btn-block" role="button">
			Start Quiz
		</button>
		<button type="button" id="reset-game" class="btn btn-warning btn-large btn-block" role="button" disabled>
			Reset
		</button>
	</div>

	<div class="panel col-xs-3" id="timer">
		<h2>
			<small>Time left:</small>
			<br>
			<span id="minutes"><%= quiz.escape("time_limit") %></span>
			:
			<span id="seconds">00</span>
		</h2>
	</div>

</div>

<hr>

<div class="row">

	<div class="form-group col-xs-8" role="form">
		<label for="player-input"><span class="text-primary">Enter answer:</span></label>
		<input type="text" id="player-input" class="form-control" disabled>
	</div>

	<div class="col-xs-4 panel">
		<h3 class="text-center">
			<small>Answered correctly:</small>
			<span id="correct-count">0</span>
			<span class="text-muted">of <%= quiz.get("length") %></span>
		</h3>
	</div>
</div>

<hr>

<div class="row">
	<div id="answers-container" class="well col-xs-6">
	</div>

	<div id="answers-container-titled" class="well col-xs-6">
	</div>
</div>

<div class="row">
	<div id="answers-container-images" class="well col-xs-12">
	</div>
</div>

<br><br>

TEMPORARY:
<ul>
<% prompts.each(function (prompt) { %>
	<li>
		<%= prompt.escape("question") %> ANSWERS:
		<ul>
		<% _.each(prompt.posAnswers(), function (vAns) { %>
		<li>
			<%= vAns %>
		</li>
		<% }) %>
		</ul>
	</li>
<% }) %>
</ul>

</div>

<div class="answer-with-prompt">
	<div class="answer-prompt-container" style="height: 25px; border-bottom: 1px solid black;">
		123456789012345 678901234567890
	</div>
	<div class="hidden-answer">
		<span>some text here</span>
	</div>
</div>