<h4>
	Quiz preview
	<br>
	<small>Index</small>
</h4>
<hr>
<h6>
	<%= quizTitle %>
</h6>
<div class="media" style="float:left; width:60%;margin-top:0;">
	<a class="pull-left">
		QUIZ 
		<br>
		PICTURE
	</a>
	<div class="media-body">
		<strong>
			<%= quizQuestion %>
		</strong>
		<p>
			<%= quizDescription %>
		</p>
	</div>
</div>

<div style="float:left; padding:0;width: 40%;margin-top:15px">
	<div id="prev-stats-headers" class="text-right" style="width: 30%; margin-right:5px; display:inline-block;">
		<strong>
			Time limit
			<br>
			Category
			<br>
			Scope
		</strong>
	</div>

	<div id="prev-stats-data" class="text-left" style="width:60%;margin-left:5px;display:inline-block;">
		<div id="prev-time-limit">
			<%= quizTimeLimit %>:00
		</div>

		<div id="prev-category">
			<%= quizCategory %>
		</div>

		<div id="prev-scope">
			<%= quizScope %>
		</div>
	</div>
</div>

<div style="width:100%;border:1px solid green;float:left">
	<hr>
	<h4>
		<small>Quiz page</small>
	</h4>
	<hr>
	wqewqwqtqw
</div>