<div class="row">
	<div class="page-header col-xs-8">
	<h1>
		<%= quiz.escape("title") %> 
		<small> 
			&nbsp;&nbsp; created by <a href="#/users/<%= quiz.get('author_id') %>">
				<%= quiz.escape("author_username") %>
			</a>
		</small>
	</h1>
	</div>

	<div class="col-xs-4 text-right">
		<br><br><br>
		<% if (quiz.get("has_favorited")) { %>
			<button type="button" role="button" id="fav-btn" class="btn btn-success active">Favorited</button
>		<% } else { %>
			<button type="button" role="button" id="fav-btn" class="btn btn-warning">Favorite</button>
		<% } %>
	</div>
</div>

<!-- http://bronxbanter.arneson.name/wordpress/wp-content/uploads/2009/07/mrt.jpg -->

<div class="row" id="quiz-top-info">
	<div class="col-xs-3">
		<img src="http://i39.tinypic.com/2rgfl39.png" alt="Quiz image" class="img-thumbnail" style="max-height: 200px; max-width: 200px;">
	</div>

	<div class="col-xs-9 col-md-6">
		<h2>
			<%= quiz.escape("question") %>
			<small>
				&nbsp;&nbsp; <%=quiz.get("length") %> prompts
			</small>
		</h2>

		<p>
			<%= quiz.escape("description") || "<span class='text-muted'>NO DESCRIPTION</span>" %>
		</p>
	</div>
	
	<div class="col-xs-12 col-md-3">
		<dl class="dl-horizontal">	
			<dt>Favorites</dt>
			<dd><%= quiz.get("fav_count") %></dd>
			
			<dt>Plays</dt>
			<dd id="quiz-play-count"><%= quiz.get("play_count") %></dd>
			
			<dt>Unique plays</dt>
			<dd><%= quiz.get("unique_play_count") %></dd>
		</dl>
	</div>

</div>

<hr>

<div class="row">
	<div class="col-xs-12">
		<ul id="quiz-tabs" class="nav nav-pills nav-justified">
			<li class="active"><a href="#play-section-tab" data-toggle="tab">
				<span class="h5">Quiz</span>
			</a></li>
			<li><a id="comments-tab-link" href="#comments-section-tab" data-toggle="tab">
				<span class="h5">Comments</span>
			</a></li>
		</ul>
	</div>
</div>

<hr>

<div class="tab-content">
	<div class="tab-pane fade in active" id="play-section-tab">
		<div id="play-section"></div>
	</div>


	<div class="tab-pane fade" id="comments-section-tab" style="min-height: 400px;">
		<div id="comments-section"></div>
	</div>
</div>