<span class="h4 well well-sm">
	Quiz preview
</span>
<br><br>
<h5>
	<%= quizTitle %>
	<small>&nbsp;&nbsp; created by <a>AUTHOR NAME</a></small>
</h5>
<div class="media" style="float:left; width:60%;margin-top:0;">
	<a class="pull-left">
		<div style="height: 75px; width: 75px; background-color: cornsilk" class="img-thumbnail text-center">
			<small>
				Quiz Image will be displayed here
			</small>
		</div>
	</a>
	<div class="media-body">
		<strong>
			<%= quizQuestion %>
		</strong>
			<span class="text-muted">&nbsp;&nbsp; <%= quizLength %> prompts</span>
		<p>
			<%= quizDescription %>
		</p>
	</div>
</div>

<div style="float:left; padding:0;width: 40%;margin-top:10px">
	<div id="prev-stats-headers" class="text-right" style="width: 30%; margin-right:5px; display:inline-block;">
		<strong>
			Time limit
			<br>
			Category
			<br>
			Scope
		</strong>
	</div>

	<div id="prev-stats-data" class="text-left" style="width:60%;margin-left:5px;display:inline-block;">
		<div id="prev-time-limit">
			<%= quizTimeLimit %>:00
		</div>

		<div id="prev-category">
			<%= quizCategory %>
		</div>

		<div id="prev-scope">
			<%= quizScope %>
		</div>
	</div>
</div>

<div id="answer-divs-preview" style="width:95%;float:left;" class="text-center">
	<hr>
	<span class="text-muted">Empty answer sections will not be shown</span>
	<div id="simple-ans-prev" class="well well-sm row">
		<small>WITHOUT HEADERS</small><br>
	</div>

	<div id="ans-with-header-prev" class="well well-sm row">
		<small>WITH HEADERS</small><br>
	</div>

	<div id="ans-with-img-prev" class="well well-sm row" style="display: none;">
		<small>WITH IMAGES</small><br>
	</div>
</div>


<div id="answer-div-protos" style="display: none;">
	<div id="simple-ans-proto" class="ans-div-prev">
		<span class="ans-text"></span>
	</div>

	<div id="ans-with-header-proto" class="ans-with-head-div-prev">
		<table>
			<tr>
				<td class="ans-header-prev"></td>
				<td class="ans-text ans-header-text-prev"></td>
			</tr>
		</table>
	</div>

	<div id="ans-with-img-proto" class="ans-with-img-div-prev">
		<div class="ans-text ans-div-prev"></div>
		<div class="ans-img"></div>
	</div>
</div>