<h1>Playing...</h1>
<h2><%= quiz.escape("title") %></h2>

<a href="#">Quiz Index</a>

<h3><%= prompts.first().escape("question") %></h3>

<button id="start-game">Start Game</button>
<button id="reset-game" style="display: none;">Reset</button>
<br><br>
<label for="player-input">Enter text:</label>
<br>
<input type="text" id="player-input" disabled>

<br>
<div id="timer">
	<span id="minutes"><%= quiz.escape("time_limit") %></span>
	:
	<span id="seconds">00</span>
</div>

<br>

# Correct answers:
<div id="correct-count">1</div>

<br><br>

<div id="answers-container"></div>

<br><br>

TEMPORARY:
<ul>
<% prompts.each(function (prompt) { %>
	<li>
		<%= prompt.escape("question") %> ANSWERS:
		<ul>
		<% _.each(prompt.posAnswers(), function (vAns) { %>
		<li>
			<%= vAns %>
		</li>
		<% }) %>
		</ul>
	</li>
<% }) %>
</ul>

<br><br>
