<div class="page-header">
	<h1>Quizzes Index</h1>
</div>
	<% quizzes.each(function(quiz) { %>
		<div class="row" id="quiz-list-col">
			<div class="col-xs-7 media">
				<a class="pull-left" href="#/quizzes/<%= quiz.id %>">
					QUIZ PICTURE
					<br>
					OR
					<br>
					AUTHOR AVATAR
				</a>
				<div class="media-body">
					<h3 class="media-heading">
						<a href="#/quizzes/<%= quiz.id %>"><%= quiz.escape("title") %></a>
						<small> 
							&nbsp;&nbsp; created by <a href="#/users/<%= quiz.get('author_id') %>">
								<%= quiz.escape("author_username") %>
							</a>
						</small>
					</h3>
					<p>
						<strong>Description</strong><br>
						<%= quiz.escape("description") || "<span class='text-muted'>NO DESCRIPTION</span>" %>
					</p>
				</div>
			</div>
			<div class="col-xs-5">
				<dl class="dl-horizontal">
					<% if ( !_.isUndefined(Qwisme.CURRENT_USER.get("played_quizzes").get(quiz.id)) ) { %>
					<span class="text-warning">
						<dt>First played on</dt>
						<dd><%= Qwisme.CURRENT_USER.get("played_quizzes").get(quiz.id).get("created_at") %></dd>
					</span>

					<% } %>

					<dt>Time limit</dt>
					<dd><%= quiz.escape("time_limit") %>:00</dd>

					<dt>Category</dt>
					<dd><%= _.str.capitalize(quiz.escape("category")) %></dd>

					<dt>Scope</dt>
					<dd><%= _.str.capitalize(quiz.escape("scope")) %></dd>
				</dl>
			</div>
		</div>
		<hr>
	<% }) %>
</div>
