<!DOCTYPE html>
<html>
<head>
  <title>Qwisme</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<br><br>
	<% if flash[:notices] %>
		<% flash[:notices].each do |notice| %>
			<%= notice %>
		<% end %>
	<% end %>

<%= yield %>

</body>
</html>
